<app-alert [message]="base.alertMsg"
           [type]="base.alertType"
           (close)="base.closeAlert()"></app-alert><br>

<section *ngIf="page == 'list'" id="top">
	<div class="row justify-content-md-center">
		<div class="col-md-12 text-center">
			<h1 class="text-center">Cadastro de Usuários</h1>
		</div>
	</div>
    
    <div class="row justify-content-md-center">
        <div class="col-md-5 text-right">            
            <div class="md-form">
                <input mdbInputDirective
                       type="text"
                       class="form-control"
                       #userSearch
                       id="userSearch"
                       name="userSearch"
                       (keyup)="findUser(userSearch.value)" />
                <label for="userSearch"><i class="fa fa-search"></i> Buscar por nome</label>
            </div>
		</div>
		<div class="col-md-5 text-right">
			<br>
			<button *ngIf="userProfile == 1" class="btn btn-primary btn-sm" (click)="changePage('single')">
				<i class="fa fa-plus"></i> Adicionar
			</button>	
		</div>			
    </div>

	<div *ngFor="let user of filteredUsers" @fade>
		<div class="row justify-content-center">	
			<div class="col-md-10">
				<mdb-card>
				    <mdb-card-body>
					    <mdb-card-title>
					        <h5>{{ user.name }}</h5>
					    </mdb-card-title>
				        <mdb-card-text>
				        	<div class="row">
				        		<div class="col-md-4">
						        	<b>E-mail: </b> {{ user.email }}	        			
                                </div>
                                
				        		<div class="col-md-4">
									<b>Perfil: </b> {{ user.profile == 1 ? 'Administrador' : 'Usuário' }}
				        		</div>

                                <div class="col-md-4" *ngIf="userProfile == 1">
							    	<a class="btn btn-secondary btn-sm card-link" 
							    	   (click)="changePage('single'); selectUser(user)">
							    		<i class="fa fa-edit"></i> Editar
							    	</a>
							    	<a class="btn btn-danger btn-sm card-link" 
							    	   (click)="selectUser(user); basicModal.show()">
							    		<i class="fa fa-trash"></i> Deletar
							    	</a>							
								</div>		        		
				        	</div>
				    	</mdb-card-text>
				  	</mdb-card-body>
				</mdb-card>
			</div>
		</div><br>	
	</div>	
</section>

<section *ngIf="page == 'single'">
	<div class="row">
		<div class="col text-center">
			<h1 class="text-center">Usuários</h1>
		</div>
	</div><br>

	<div class="row justify-content-center">	
		<div class="col-md-10">
			<mdb-card>
			    <mdb-card-body>
					<form [formGroup]="form">
                        <input type="hidden" 
                               id="id" 
                               [formControl]="id" />

                        <input type="hidden" 
                               id="oldPassword" 
                               [formControl]="oldPassword" />

						<div class="row">
							<div class="col-md-4">
								<div class="md-form">
								    <input mdbInputDirective 
								    	   type="text" 
								    	   id="name" 
										   class="form-control"
										   maxlength="50"
								    	   [formControl]="name" />
								    <label for="name">Nome <span class="star-required">*</span></label>
								</div>
                                <div *ngIf="name.invalid && name.touched">
                                    <div class="validation-msg">
                                        <div *ngIf="name.errors.required">
                                            Este campo é obrigatório
										</div>
                                        <div *ngIf="name.errors.minlength">
                                            Este campo deve ter no minimo 5 caracteres
                                        </div>										
                                    </div>
                                </div>
							</div>

						    <div class="col-md-4">
                                <div class="md-form">
                                    <input mdbInputDirective 
                                            type="email" 
                                            id="email" 
											class="form-control" 
											maxlength="100"
                                            [formControl]="email" />
                                    <label for="email">E-mail <span class="star-required">*</span></label>
								</div>
                                <div *ngIf="email.invalid && email.touched">
                                    <div class="validation-msg">
                                        <div *ngIf="email.errors.required">
                                            Este campo é obrigatório
										</div>
                                        <div *ngIf="email.errors.minlength">
                                            Este campo deve ter no minimo 5 caracteres
										</div>
                                        <div *ngIf="email.errors.email">
                                            E-mail inválido
                                        </div>										
                                    </div>
                                </div>								
						  	</div>
						</div><br>

						<div class="row">
							<div class="col-md-4">
                                <label for="profile">Perfil <span class="star-required">*</span></label>								
                                <select name="profile" 
                                        id="profile" 
                                        class="form-control"
										[formControl]="profile">
									<option value="2">Usuario</option>
									<option value="1">Administrador</option>
								</select>
                                <div *ngIf="profile.invalid && profile.touched">
									<div class="validation-msg">
										<div *ngIf="profile.errors.required">
											Este campo é obrigatório
										</div>
									</div>
								</div>								
							</div>

							<div class="col-md-4">
								<div class="md-form">
								    <input mdbInputDirective 
								    	   type="password" 
								    	   id="password" 
										   class="form-control"
										   (keyup)="validPass()"
								    	   [formControl]="password" />
								    <label for="password">Password</label>
								</div>
                                <div *ngIf="password.invalid && password.touched">
									<div class="validation-msg">
										<div *ngIf="password.errors.minlength">
											Este campo deve ter no minimo 5 caracteres
										</div>
									</div>
								</div>									
							</div>
						</div>

				    	<div class="row justify-content-right">
				    		<div class="col-md-12 text-right">
						    	<a class="btn btn-danger btn-sm" 
						    	   (click)="changePage('list')">
						    		<i class="fa fa-arrow-left"></i> Voltar
						    	</a>			    			

								<button mdbBtn 
										mdbWavesEffect
										class="btn btn-success btn-sm"
										(click)="confirmForm()"
										[disabled]="form.invalid">
									<i class="fa fa-check"></i> Confirmar
								</button>
				    		</div>			    		
						</div>						
					</form>
			    </mdb-card-body>
			</mdb-card>
		</div>
	</div>
</section>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          			<span aria-hidden="true">×</span>
        		</button>
        		<h4 class="modal-title w-100" id="myModalLabel">Exclusão de usuários</h4>
      		</div>
      		<div class="modal-body">
        		Tem certeza de que deseja excluir este Usuário?
      		</div>
      		<div class="modal-footer">
        		<button type="button" 
        				mdbBtn 
        				color="danger"
        				class="waves-light btn-sm"
        				aria-label="Close"
        				(click)="basicModal.hide()"
        				mdbWavesEffect>
        			<i class="fa fa-remove"></i> Fechar
        		</button>
        		<button type="button" 
        				mdbBtn 
        				color="success" 
        				class="relative waves-light btn-sm" 
        				mdbWavesEffect
        				(click)="confirmDelete(); basicModal.hide()">
        			<i class="fa fa-check"></i> Confirmar
        		</button>
      		</div>
    	</div>
  	</div>
</div>