$magin:      0;
$padding:    0;
$background: #eeeeee;

body {
    margin:  $magin;
    padding: $padding;
    background-color: $background;
}

.full {
    width:   100%;
    margin:  $magin;
    padding: $padding;
}