$magin:      0;
$padding:    0;
$background: #eeeeee;
$danger:     #ff0000;

body {
    margin:  $magin;
    padding: $padding;
    background-color: $background;
}

.full {
    width:   100%;
    margin:  $magin;
    padding: $padding;
}

.star-required {
    color: $danger;
}